.ui__.button:not(:disabled):not(.disabled):not(.push-right):not(.push-left):active {
	animation: push-button-down 0.1s ease-out alternate-reverse 2;
}
.ui__.button.static {
	animation: none !important;
}
.ui__.button:disabled,
.ui__.button.disabled {
	opacity: 0.5;
	cursor: not-allowed;
	/* pointer-events: none; */
}

.ui__.button {
	font-size: 1.2rem;
	display: inline-block;
	padding: 0.6rem 1.2rem;
	text-decoration: none;
	border: 1px solid;
	/* outline: none; */
	line-height: initial;
	display: inline-block;
	border-radius: 0.3rem;
	transition: all 0.15s;
	text-align: center;
	text-transform: uppercase;

	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	cursor: pointer;

	/* ie11 */
	border-color: rgb(41, 117, 209);
	border-color: var(--color);
	/* ie11 */
	color: rgb(41, 117, 209);
	color: var(--color);
	background-image: linear-gradient(
		50deg,
		rgba(39, 69, 195, 0.87) 5%,
		rgb(41, 117, 209) 50%,
		rgba(255, 255, 255, 0.52) 55%
	);
	background-image: linear-gradient(
		50deg,
		var(--color) 5%,
		var(--lightColor) 50%,
		rgba(255, 255, 255, 0.52) 55%
	);
	background-size: 280%;
	background-position-x: 99%;
}
.ui__.button.plain {
	background-image: linear-gradient(
		50deg,
		rgba(39, 69, 195, 0.87) 5%,
		rgb(41, 117, 209) 50%,
		rgba(41, 117, 209, 0.9) 55%
	);
	background-image: linear-gradient(
		50deg,
		var(--darkColor) -50%,
		var(--color) 50%,
		var(--lightColor) 55%
	);

	color: white;
}
.ui__.button:not(:disabled):not(.disabled):not(.simple):hover,
.ui__.button.selected {
	background-position-x: 0%;
	border-color: white;
	color: white;
}

.ui__.button.simple,
.ui__.button.simple.small {
	border: none;
	background: transparent;
	padding-left: 0;
	padding-right: 0;
}
.ui__.button.simple:hover,
.ui__.button.simple.selected {
	opacity: 0.8;
}
.ui__.button.simple:not(:last-of-type) {
	margin-right: 0.6em;
}
.ui__.button.cta {
	margin: 1rem 0;
	display: inline-block;
	align-self: center;
	font-size: 120%;
	padding: 0.9rem 1.8rem;
}

.ui__.link-button,
.ui__.dashed-button,
.ui__.text-button {
	border: none;
	display: inline;
	font-size: inherit;
	font-weight: inherit;
	font-family: inherit;
	margin: 0;
}
.ui__.link-button img[src*='twemoji.maxcdn'],
.ui__.dashed-button img[src*='twemoji.maxcdn'],
.ui__.text-button img[src*='twemoji.maxcdn'] {
	margin-right: 0.2rem !important;
	margin-left: 0.2rem !important;
}
.ui__.link-button,
.ui__.text-button {
	text-decoration: none;
	color: inherit;
	text-align: left;
	padding: 0;
}
.ui__.link-button {
	text-decoration: underline;
	text-underline-offset: 4px;
	color: rgb(41, 117, 209);
	color: var(--color);
}
.ui__.link-button.active {
	font-weight: bold;
}

.ui__.dashed-button::before {
	padding: 0.8rem 0;
	display: block;
}
.ui__.dashed-button {
	border-bottom: 1px dashed;
	border-color: rgb(41, 117, 209);
	border-color: var(--color);
	padding: 0.15em 0em;
}

.ui__.link-button:not(:disabled):not(.disabled):hover,
.ui__.text-button:not(:disabled):not(.disabled):hover,
.ui__.dashed-button:not(:disabled):not(.disabled):hover,
.ui__.link-button:not(:disabled):not(.disabled).selected,
.ui__.text-button:not(:disabled):not(.disabled).selected,
.ui__.dashed-button:not(:disabled):not(.disabled).selected {
	opacity: 0.8;
}

.ui__.push-right.button:not(:disabled):not(.disabled):hover {
	opacity: 0.8;
	transform: translateX(3px);
}
.ui__.button.push-left:not(:disabled):not(.disabled):hover {
	opacity: 0.8;
	transform: translateX(-3px);
}

.answer-list button.answer:hover {
	opacity: 0.8;
}

.ui__.push-right.button:active {
	animation: push-button-right 0.1s ease-out alternate-reverse 2;
}
.ui__.button.push-left:active {
	animation: push-button-left 0.1s ease-out alternate-reverse 2;
}

.ui__.small.button {
	width: inherit;
	font-size: 90%;
	line-height: 1.2rem;
	transition: all 0.08s;
	padding: 0.4rem 0.8rem;
	border-radius: 0.3rem;
}

.ui__.button-choice {
	padding-top: 1rem;
	color: inherit;
	padding-bottom: 1rem;
	margin-bottom: 1rem;
	position: relative;
	min-width: 14rem;
	margin-right: 1rem;
	text-decoration: none;
}

.ui__.button-choice--soon {
	border-color: lightgray;
	color: gray;
	position: relative;
	opacity: 0.8;
	pointer-events: none;
	cursor: default;
	justify-content: flex-end;
}

.ui__.button-choice--soon img {
	filter: saturate(0%);
}

@keyframes push-button-down {
	from {
		transform: translate3d(0, 3px, 0);
	}
	to {
		transform: translate3d(0, 0, 0);
	}
}

@keyframes push-button-right {
	from {
		transform: translate3d(5px, 0, 0);
	}
	to {
		transform: translate3d(3px, 0, 0);
	}
}

@keyframes push-button-left {
	from {
		transform: translate3d(-5px, 0, 0);
	}
	to {
		transform: translate3d(-3px, 0, 0);
	}
}

html {
	transition: none !important;
	line-height: 1.7rem;
}
@media (max-width: 500px) {
	html {
		font-size: 0.9em;
	}
}
@media (min-width: 500px) and (max-width: 1920px) {
	html {
		font-size: 1.1em;
	}
}
@media (min-width: 1920px) {
	html {
		font-size: 1.16em;
	}
}

@media print {
	html {
		font-size: 1em;
	}
}

body {
	font-weight: 400;
	color: #040e19;
	color: var(--darkColor);
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	margin-top: 2rem;
	margin-bottom: 1rem;
	font-size: 1.9rem;
	line-height: 2rem;
}
h2 {
	margin-top: 2rem;
	margin-bottom: 1rem;
	font-size: 1.4rem;
}
h3 {
	margin-top: 1rem;
	margin-bottom: 0.6rem;
	font-size: 1.2rem;
}
h4 {
	margin-top: 0.6rem;
	margin-bottom: 0.4rem;
	font-size: 1rem;
}
h5 {
	margin-top: 0.4rem;
	margin-bottom: 0.2rem;
	font-size: 0.9rem;
}
h6 {
	margin-top: 0.4rem;
	margin-bottom: 0.2rem;
	font-size: 0.9rem;
	color: var(--lighterTextColor);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--darkColor);
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 600;
	scroll-margin-top: 1rem; /* Add a margin for anchor links */
}

button {
	font-weight: normal;
}
p,
ul {
	margin: 0 0 0.4rem;
}

p.ui__.lead {
	font-size: 120%;
	line-height: 2rem;
	color: var(--darkColor);
}
ul {
	list-style: '› ';
	padding-left: 0.8rem;
}
ol {
	margin: 0;
	padding-left: 1.1rem;
}
li {
	padding: 0.2em 0;
}
a {
	border: none;
	font-size: inherit;
	padding: none;
	text-decoration: underline;
	text-underline-offset: 4px;
	color: rgb(41, 117, 209);
	color: var(--color);
}

p img {
	max-width: 100%;
}

a:not(:disabled):not(.button):not(.button-choice):hover {
	opacity: 0.8;
}

strong,
b {
	font-weight: bold;
}

textarea {
	font-family: inherit;
}

small,
.ui__.notice {
	color: rgba(0, 0, 0, 0.6);
	color: var(--lighterTextColor);
	font-size: 85%;
	line-height: 1.5rem;
}

small {
	display: inline-block;
}

.ui__.card {
	box-shadow: 0 1px 3px rgba(41, 117, 209, 0.12),
		0 1px 2px rgba(41, 117, 209, 0.24);
	padding-left: 1rem;
	padding-right: 1rem;
	background: white;
	will-change: box-shadow;
	-webkit-user-select: text;
	        user-select: text;
	transition: box-shadow 0.15s, border-color 0.15s;
	border-radius: 0.3rem;
}

.ui__.card.disabled .ui__.button.simple,
.ui__.card.disabled a {
	/* opacity: 0.7; */
	color: var(--grayColor);
}

.ui__.card.plain {
	color: white;
	color: var(--textColor);
	background: linear-gradient(60deg, #215da6 0%, #297da1 100%);
	background: linear-gradient(60deg, var(--darkColor) -100%, var(--color) 100%);
}
.ui__.card.plain h1,
.ui__.card.plain h2,
.ui__.card.plain h3,
.ui__.card.plain h4,
.ui__.card.plain h5,
.ui__.card.plain h6 {
	color: white;
	color: var(--textColor);
}

.ui__.card.light {
	background: linear-gradient(
		60deg,
		var(--lighterColor) -100%,
		var(--lightestColor) 100%
	);
}

.ui__.card.disabled img {
	filter: saturate(0);
}

.ui__.card.disabled .ui__.card.plain,
.ui__.card.disabled.plain {
	background: linear-gradient(
		60deg,
		var(--grayColor) -40%,
		var(--grayColor) 70%
	);
	opacity: 0.7;
}

.ui__.label a,
.ui__.card.plain a,
.ui__.label .link-button,
.ui__.card.plain .link-button {
	color: white !important;
}
.ui__.card.plain a:hover {
	text-decoration: underline;
}
.ui__.card.colored {
	box-shadow: 0 1px 3px 0 var(--color), 0 0 0 1px var(--color);
}
.ui__.card.plain small,
.ui__.card.plain .notice {
	color: rgba(255, 255, 255, 0.8);
}

.ui__.card.plain .targetInput {
	border-color: white;
	border-color: var(--textColor);
	color: white;
	color: var(--textColor);
}

.ui__.interactive.card {
	-webkit-user-select: text;
	        user-select: text;
	-webkit-user-drag: none;
}
.ui__.interactive.card:hover {
	box-shadow: 0px 2px 4px -1px rgba(41, 117, 209, 0.2),
		0px 4px 5px 0px rgba(41, 117, 209, 0.14),
		0px 1px 10px 0px rgba(41, 117, 209, 0.12);
	opacity: inherit !important;
}
.ui__.ui__.interactive.card:active {
	animation: push-button-down 0.1s ease-out alternate-reverse 2;
}

.ui__.card.box {
	flex: 0.3;
	max-width: 18rem;
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 0.6rem;
	padding: 1rem;
	text-decoration: none;
	align-items: center;
	color: inherit;
	font-size: inherit !important;
}
.ui__.card.box.ui__.interactive.light-border:hover {
	border-color: var(--lightColor);
	/* border-color: var(--lightColor); */
}
.ui__.card.box .ui__.box-icon > img {
	margin: 0.4rem !important;
	transform: scale(1.5) translateY(0.1rem);
}

.ui__.card.box .ui__.big.box-icon > img {
	transform: scale(2.3) translateY(0.2rem);
	margin: 0.6rem !important;
}

.ui__.card.box.inverted-colors {
	background: #4e575b;
}

.ui__.card.box.inverted-colors * {
	color: #f3f3f3;
}

.ui__.box-container {
	display: grid;
	justify-items: stretch;
}
.ui__.box-container:not(.full-width) {
	margin: 0 -0.6rem;
}
.ui__.small.box-container {
	grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 400px) {
	.ui__.card.box {
		max-width: 100%;
	}
}

@media (min-width: 400px) {
	.ui__.small.box-container {
		grid-template-columns: repeat(3, 1fr);
	}
	.ui__.box-container {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 700px) {
	.ui__.small.box-container {
		grid-template-columns: repeat(4, 1fr);
	}
	.ui__.box-container {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (min-width: 1000px) {
	.ui__.full-width.small.box-container {
		grid-template-columns: repeat(5, auto);
	}
	.ui__.full-width.box-container {
		--padding: calc((100vw - 1300px) / 2);
		grid-template-columns: repeat(4, auto);
		padding-right: var(--padding);
		padding-left: var(--padding);
		justify-content: center;
	}
}

.ui__.card .ui__.notice {
	flex: 1;
}

.ui__.toggle {
	border: 1px solid var(--color);
	border-radius: 0.3rem;
	overflow: hidden;
	display: flex;
}
.ui__.toggle label {
	padding: 0.6rem 1.2rem;
	color: var(--color);
	text-transform: uppercase;
	cursor: pointer;
}
.ui__.toggle.small label {
	font-size: 80%;
	overflow: hidden;
	padding: 0.4rem 0.8rem;
}
.ui__.toggle label:not(:last-child) {
	border-right: 1px solid var(--color);
}

.ui__.toggle input[type='radio']:checked ~ * {
	background: var(--lightColor);
	box-shadow: 0 0 0 3rem var(--lightColor);
	color: white;
}

.ui__.toggle label:hover input[type='radio']:not(:checked) ~ * {
	background: var(--lighterColor);
	box-shadow: 0 0 0 1rem var(--lighterColor);
}

.ui__.toggle input[type='radio']:focus ~ .radioText {
	border: 1px dotted gray;
}
.ui__.toggle input[type='radio']:checked ~ .radioText {
	font-weight: 600;
}

.ui__.radio input[type='radio'] ~ *::before {
	display: inline-block;
	overflow: show;
	width: 0.8em;
	height: 0.8em;
	content: '';
	will-change: box-shadow;
	margin: 0.06em;
	margin-right: 0.4em;
	vertical-align: middle;
	border-radius: 100%;
	cursor: pointer;
	box-shadow: 0 0 0px 2px rgb(41, 117, 209);
	box-shadow: 0 0 0px 2px var(--color);
	transition: all 0.1s;
	border: 0.4em solid white;
}

.ui__.radio input[type='radio']:focus ~ *::before {
	box-shadow: 0 0 0px 2px var(--color), 0 0 5px 3px var(--lightColor);
}

.ui__.radio input[type='radio'] {
	position: fixed;
	left: -100vw;
}

.ui__.radio input[type='radio'] ~ * {
	cursor: pointer;
	display: flex;
	align-items: center;
	transition: all 0.1s;
}
.ui__.radio input[type='radio']:checked ~ *::before {
	border: 2px solid white;
	background: var(--color);
}

/*
	Unify browser styles and reset opinionated defaults;
	Reset style decisions that would break (rather than just customize)
	the widget's form layout.
 */

html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin: 0;
}
[hidden],
.js-only {
	display: none;
}

/* Reset fieldset style */
fieldset {
	border: 0;
	padding: 0;
	padding-top: 0.01em;
	margin: 0;
	min-width: 0;
}

/* Remove spinner controls from Firefox */
input[type='number'] {
	-webkit-appearance: textfield;
	   -moz-appearance: textfield;
	        appearance: textfield;
}

select {
	width: auto;
	height: auto;
}

input {
	line-height: normal;
	height: auto;
}

label {
	font-size: 100%;
	font-weight: normal;
}

button {
	background: none;
	border: 1px solid #222;
	border-radius: 0.2em;
	padding: 0 1em;
}

button:enabled {
	cursor: pointer;
}

/* roboto-regular - latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto'), local('Roboto-Regular'),
		url(/fonts/roboto-v20-latin-regular.woff2) format('woff2'),
		
			url(/fonts/roboto-v20-latin-regular.woff) format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-italic - latin */
@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 400;
	src: local('Roboto Italic'), local('Roboto-Italic'),
		url(/fonts/roboto-v20-latin-italic.woff2) format('woff2'),
		
			url(/fonts/roboto-v20-latin-italic.woff) format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-500 - latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: bold;
	src: local('Roboto Medium'), local('Roboto-Medium'),
		url(/fonts/roboto-v20-latin-500.woff2) format('woff2'),
		
			url(/fonts/roboto-v20-latin-500.woff) format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-600 - latin */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
		url(/fonts/montserrat-v15-latin-600.woff2) format('woff2'),
		
			url(/fonts/montserrat-v15-latin-600.woff) format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
	--color: rgb(41, 117, 209);
	--darkColor: rgb(24, 69, 123);
	--textColor: rgb(24, 69, 123);
}
@media (min-width: 400px) {
	:focus:not(:active):not(input) {
		outline: 1px dashed var(--darkColor);
	}
}
:active {
	outline: none;
}

html,
body,
#js {
	min-height: 100%;
}

html:-webkit-full-screen {
	background-color: white;
	overflow: auto !important;
}

html:fullscreen {
	background-color: white;
	overflow: auto !important;
}
body {
	overflow-x: hidden !important;
}

button {
	border: none;
	border-radius: 0;
}

blockquote {
	background: var(--lighterColor);
	border-radius: 0.3rem;
	padding: 1rem;
	padding-bottom: 0.6rem;
	margin: 1rem 0;
	color: var(--darkerColor);
}

.ui__.answer-group {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
@media (min-width: 500px) {
	.ui__.answer-group > :not(:last-child) {
		margin-right: 1rem;
	}
}
@media (max-width: 500px) {
	.ui__.answer-group {
		flex-wrap: wrap;
	}
	.ui__.answer-group > * {
		flex: 1;
		white-space: nowrap;
		margin: 0.5rem !important;
	}
}

.ui__.light-bg {
	background-color: var(--lighterColor) !important;
}
.ui__.lighter-bg {
	background-color: var(--lightestColor) !important;
}

.ui__.dark-bg {
	background-color: #3b3945;
}

.ui__.dark-bg * {
	color: #f3f3f3;
}

.ui__.light-border {
	border: 4px solid var(--lighterColor);
	border-radius: 0.3rem;
}

.ui__.center-flex {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.ui__.hide {
	display: none;
}
@media (max-width: 850px) {
	.ui__.hide-mobile {
		display: none;
	}
}

section {
	padding: 1rem 0;
}

.ui__.container {
	width: 100%;
	max-width: 850px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 0.6rem;
	padding-left: 0.6rem;
}
.ui__.container .ui__.full-width {
	--margin: calc((850px - 100vw - 0.6rem) / 2);
	margin-right: var(--margin);
	margin-left: var(--margin);
}
@media (max-width: 850px) {
	.ui__.container .ui__.full-width {
		margin: 0 -0.6rem;
	}
}

ul.ui__.no-bullet {
	list-style: none;
}
span.ui__.enumeration:not(:last-of-type)::after {
	content: '·';
	margin: 0 0.3rem;
	display: inline-block;
}

.ui__.label {
	font-size: 85%;
	line-height: initial;
	padding: 0.4rem 0.6rem;
	font-weight: bold;
	color: white !important;
	background: var(--darkColor);
	border-radius: 0.3rem;
	text-align: center;
}
.ui__.small.label {
	font-size: 75%;
	padding: 0.2rem 0.4rem;
}

.no-scroll {
	overflow: hidden;
}

.markdown table {
	text-align: left;
	margin-bottom: 1rem;
	width: 100%;
}

.markdown table tbody tr:nth-child(2n + 1) {
	background-color: var(--lighterColor);
}

.markdown table td,
.markdown table th {
	padding: 5px 10px;
}

*:not(pre) > code {
	font-family: monospace;
	margin: 0 0.2rem;
	padding: 0 0.2rem;
	box-shadow: 0px 1px 1px 1px #d9d9d9, 0 0 0 1px #d9d9d9;
	border-radius: 0.2rem;
}

pre.ui__.code {
	color: rgb(197, 200, 198);
	text-shadow: rgba(0, 0, 0, 0.3) 0px 1px;
	font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier, monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	line-height: 1.5;
	-moz-tab-size: 4;
	     tab-size: 4;
	-webkit-hyphens: none;
	        hyphens: none;
	padding: 1em;
	margin: 0.5em 0px;
	overflow: auto;
	border-radius: 0.3em;
	background: rgb(29, 31, 33);
}

pre.ui__.code > code {
	color: rgb(197, 200, 198);
	text-shadow: rgba(0, 0, 0, 0.3) 0px 1px;
	font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier, monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	line-height: 1.5;
	-moz-tab-size: 4;
	     tab-size: 4;
	-webkit-hyphens: none;
	        hyphens: none;
}

input.ui__,
textarea.ui__,
select.ui__ {
	padding: 0.4rem;
	max-width: 100%;
	margin-bottom: 0.6rem;
	border: 1px solid var(--lighterTextColor);
	border-radius: 0.3rem;
	background-color: white;
	color: inherit;
	font-size: inherit;
	transition: border-color 0.1s;
	position: relative;
	font-family: inherit;
}
input.ui__ {
	width: 25rem;
}
textarea.ui__ {
	width: 100%;
}

input.ui__[inputmode='numeric'] {
	width: 10rem;
}
input.ui__[type='date'] {
	width: auto;
}
input.ui__.suffixed {
	text-align: right;
}
input.ui__:focus,
select.ui__:focus {
	border-color: var(--color);
}

/* Remove IE's clear button the appears before our suffix */
input.ui__::-ms-clear {
	width: 0;
	height: 0;
}

input.ui__::placeholder {
	opacity: 0.6;
	color: grey;
}

.answer-list table {
	border-collapse: collapse;
	width: 100%;
}
.answer-list tr:nth-child(2n + 1) {
	background: none !important;
}

.answer-list td {
	padding: 0.3rem 0.8rem;
}

.answer-list td:last-of-type {
	text-align: start;
}

.answer-list button.answer {
}
.answer-list .answerContent {
}

.answer-list button.answer:hover {
	opacity: 0.8;
}

@media print {
	.explicable {
		display: none;
	}
}
.explicable .icon {
	display: inline-block;
	padding: 0.15rem 0.6rem;
	height: 100%;
	margin-left: 0.2rem;
	text-align: center;
	cursor: pointer;
	vertical-align: text-top;
}

.explicable .icon:hover {
	filter: brightness(90%);
}

.variantLeaf .explicable .icon img {
	width: 1.5em !important;
	height: 1.5em !important;
}

.currencyInput__container {
	display: flex !important;
	align-items: center;
	justify-content: flex-end;
}

.currencyInput__input:focus {
	outline: none;
}
.currencyInput__input {
	height: inherit;
	max-height: inherit;
	border: none;
	text-align: inherit;
	font-family: inherit;
	padding: 0;
	font-weight: inherit;
	min-width: 0;
	outline: none;
	margin: 0;
	width: inherit;
	color: inherit;
	background-color: transparent;
	font-size: inherit;
}

.currencyInput__input::-ms-clear {
	display: none;
}

.range {
	-webkit-appearance: none;
	vertical-align: middle;
	outline: none;
	border: none;
	cursor: pointer;
	padding: 0;
	background: none;
}

.range::-webkit-slider-runnable-track {
	background-color: white;
	height: 6px;
	border-radius: 3px;
	border: 1px solid transparent;
}

.range[disabled]::-webkit-slider-runnable-track {
	border: 1px solid white;
	background-color: transparent;
	opacity: 0.4;
}

.range::-moz-range-track {
	background-color: white;
	height: 6px;
	border-radius: 3px;
	border: none;
}

.range::-ms-track {
	color: transparent;
	border: none;
	background: none;
	height: 6px;
}

.range::-ms-fill-lower {
	background-color: white;
	border-radius: 3px;
}

.range::-ms-fill-upper {
	background-color: white;
	border-radius: 3px;
}

.range::-ms-tooltip {
	display: none; /* display and visibility only */
}

.range::-moz-range-thumb {
	border-radius: 20px;
	height: 18px;
	width: 18px;
	border: 2px solid white;
	background: none;
	background-color: var(--color);
	cursor: pointer;
}

.range:active::-moz-range-thumb {
	outline: none;
}

.range::-webkit-slider-thumb {
	-webkit-appearance: none !important;
	border-radius: 100%;
	border: 2px solid white;
	background-color: var(--color);
	cursor: pointer;
	height: 18px;
	width: 18px;
	margin-top: -7px;
}

.range[disabled]::-webkit-slider-thumb {
	background-color: transparent;
	border: 1px solid white;
}

.range:active::-webkit-slider-thumb {
	outline: none;
}

.range::-ms-thumb {
	border-radius: 100%;
	border: 2px solid white;
	background-color: var(--color);
	cursor: pointer;
	height: 18px;
	width: 18px;
}

.range:active::-ms-thumb {
	border: none;
}

.ui__.checkbox {
	cursor: pointer;
	display: inline-block;
	position: relative;
	margin: 0;
	width: 1em;
	line-height: 1em;
	height: 1em;
	-webkit-tap-highlight-color: transparent;
	transform: translate3d(0, 0, 0);
	outline: none !important;
}
.ui__.checkbox:before {
	content: '';
	position: absolute;
	top: -0.6em;
	left: -0.6em;
	width: 2.2em;
	height: 2.2em;
	border-radius: 50%;
	background: rgba(34, 50, 84, 0.03);
	opacity: 0;
	transition: opacity 0.2s ease;
}
.ui__.checkbox svg {
	position: relative;
	z-index: 1;
	fill: none;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke: #c8ccd4;
	stroke: var(--color);
	stroke-width: 1.5px;
	transform: translate3d(0, 0, 0);
	transition: all 0.2s ease;
}
.ui__.checkbox svg path {
	stroke-dasharray: 60;
	stroke-dashoffset: 0;
}
.ui__.checkbox svg polyline {
	stroke-dasharray: 22;
	stroke-dashoffset: 66;
}
.ui__.checkbox:hover:before,
.ui__.checkbox:focus:before {
	opacity: 1;
}
.ui__.checkbox:hover svg {
	stroke: var(--color);
}
.ui__.checkbox-input:checked + label .ui__.checkbox svg {
	stroke: var(--color);
}
.ui__.checkbox-input:checked + label .ui__.checkbox svg path {
	stroke-dashoffset: 60;
	transition: all 0.15s linear;
}
.ui__.checkbox-input:checked + label .ui__.checkbox svg polyline {
	stroke-dashoffset: 42;
	transition: all 0.1s linear;
	transition-delay: 0.075s;
}

#helpWrapper {
	margin: 2em auto 0;
	display: none;
}

#help {
	border-radius: 0.4em;
	padding: 0.1em 1em;
	background: #e7f8e1;
	border: 1px solid #9fbd94;
	position: relative;
}

#help blockquote {
	font-style: italic;
	font-size: 95%;
	opacity: 0.95;
	border-left: 4px solid #4b4b66;
	margin-left: 0.3em;
	padding-left: 0.6em;
}

#helpWrapper.active {
	display: block;
}

#help #closeHelp {
	font-size: 150%;
	position: absolute;
	top: 0.4em;
	right: 0em;
	cursor: pointer;
}

#help h3 {
	margin: 0.3em 0;
}

.step fieldset {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	align-items: baseline;
}

.step fieldset ul {
	list-style-type: none;
}

.step fieldset .step.question .variantLeaf,
.step fieldset .step.question {
	justify-content: flex-end;
}

.step.question .variant {
	margin-bottom: 1em;
}

.step.question .variant > ul {
	border-right: 1px dashed #333;
	text-align: right;
	padding-right: 0.6em;
	padding-top: 0.6em;
	padding-left: 2em;
	margin-left: 1rem;
}
.step.question .variant > div {
	padding-right: 0.6em;
	font-weight: 600;
	text-align: right;
}

.step.question fieldset span {
	white-space: nowrap;
}
.step.question .variantLeaf {
	display: flex;
}

.step.question .variant .variantLeaf {
	display: inline-flex;
	align-items: center;
}

.step.question .variant .variantLeaf:not(:first-child) {
	margin-left: 0.6rem;
}
.step.question .variantLeaf.aucun label {
	font-weight: 800;
	text-decoration: underline;
}

.step .input > :first-child {
	text-align: right;
}

.step label.suffix {
	vertical-align: baseline;
	transition: color 0.1s;
	margin-left: 0.6rem;
}
.step label.userAnswerButton {
	margin-bottom: 0.6rem;
	background: none;
	border: 1px solid var(--color) !important;
	text-transform: none !important;
	background-color: white;
	color: var(--textColorOnWhite) !important;
}
.step label.userAnswerButton.selected {
	background: var(--lightColor);
	color: var(--textColor) !important;
}

@media print {
	.step label.userAnswerButton.selected {
		border: none;
	}

	.step label.userAnswerButton:not(.selected) {
		display: none;
	}
}
@media (hover) {
	.step label.userAnswerButton:hover:not(.selected) {
		background: var(--lighterColor);
		transition: all 0.05s;
	}
}

.feedback-page {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-top: 0.6rem;
	padding-bottom: 0.6rem;
	background: var(--lightestColor);
	border-radius: 0.9rem;
	padding: 0.6rem 1rem;
	margin: 1rem 0;
}
.feedback-page button.link-button {
	margin: 0 0.6rem;
}

@media (min-width: 1200px) {
	.feedback-page .feedbackButtons {
		display: inline;
	}
}

.zammad-form > .form-group:nth-of-type(2) {
	display: none;
}
.zammad-form > .btn[type='submit'] {
	display: inline-block;
	padding: 0.4rem 0.8rem;
	color: inherit;
	text-decoration: none;
	border: 1px solid;
	/* outline: none; */
	line-height: initial;
	display: inline-block;
	border-radius: 0.3rem;
	transition: all 0.15s;
	text-align: center;
	text-transform: uppercase;

	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	cursor: pointer;
}

.blockingNotification {
	text-align: center;
	font-size: 150%;
}

#notificationsBlock > ul {
	list-style: none;
	padding: 0;
}
#notificationsBlock .notification {
	margin: 1em 0;
	display: flex;
	align-items: center;
}
#notificationsBlock .notificationText {
	width: 100%;
	padding: 1rem 2.6rem 1rem 1.6rem;
	/*For the .hide element */
	position: relative;
}
#notificationsBlock .notificationText p:last-child {
	margin: 0;
}

.notificationText .hide {
	position: absolute;
	top: 0rem;
	right: -1.4rem;
	font-size: 200%;
}

#notificationExplanation {
}
#notificationExplanation > div {
	display: inline;
}

/*Disable links visually */
#notificationExplanation a {
	color: inherit;
	text-decoration: none;
}

/* Display the values of the variables in the explanation of the failed control */
#notificationsBlock .variable .situationValue {
	display: inline-block;
}
#notificationsBlock img {
	margin: 0 1em 0 !important;
	width: 1.6em !important;
	height: 1.6em !important;
}

li.active {
	background: var(--color);
	color: var(--textColor);
}

li.active a {
	color: var(--textColor);
}

.progress__container {
	height: 0.4rem;
	background-color: var(--lighterColor);
	overflow: hidden;
}
.progress__bar {
	height: 100%;
	transition: width 0.2s;
	min-width: 6px;
	background-color: var(--color);
}

#PeriodSwitch {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}


/*# sourceMappingURL=publicodes.939901798290e4909c61.css.map*/